body{
    background-color: rgb(255, 255, 255);
}
div button{
    color: white;
    border: 2px solid red;
    font-size: 2rem;
    background-color: blue;
    
}

div button a{
    text-decoration: none;
}